.wrapper {
  width: 1240px;
  margin: 0 auto;
}

.icon {
  width: 30px;
  height: 30px;
  vertical-align: -6px;
  fill: currentColor;
  overflow: hidden;
}

.icon-small{
  width: 20px;
  height: 20px;
  fill: currentColor;
  overflow: hidden;
}
.green_button{
    border-color: #27BA9B;
    background: #27BA9B;
    color: #fff;
    width: 180px;
    height: 50px;
    font-size: 16px;       
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;     
    outline: none;
    appearance: none;    
}
.addCart{
  margin-top: 20px;
  margin-left: 10px;
}